@import 'assets/variable';
@import 'base/base';

header {
	border: 1px solid red;
	border: 1px solid red;
	padding: 5rem 2rem;
	text-align: center;
	font-size: 0.9rem;

	span {
		display: inline-block;
		padding-bottom: 0.5rem;
	}
	span:first-of-type {
		font-weight: 300;
	}
	span:last-of-type {
		font-weight: 600;
		color: $very-dark-blue;
	}
}
